/* general page styling */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  /*  border:1px solid red;  */
  }
  
  html {
      height: 100%; 
      box-sizing: border-box;
  }
  
  body {
      font-family: Arial, Helvetica, sans-serif;
      position: relative; 
      margin: 0; 
      min-height: 100%; 
      box-sizing: inherit;
      padding-bottom: 70px;
      overflow-x: hidden; 
  }
  
  /* end of general page styling */
  
  /* navbar, menu styling */
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      flex-wrap: wrap;
      background: lightgray;
      position: sticky;
      top: 0;
      margin-bottom: 25px;
  }
  
  .navbar h2 {
      color: darkblue;
      flex-grow: 2;
  }
  
  .menu {
      display: flex;
      justify-content: space-around;
  }
  
  .menu li {
      list-style-type: none;
      width: 100px;
      color: darkblue;
      font-weight: bold;
  }
  
  .menu a {
      text-decoration: none;
  }
  
  .menu a:hover {
      color: red;
  }
  
  /* end of navbar, menu styling */
  
  /* styling home page image and the corresponding zoom effect */
  /* set height to auto to allow for resizing */
  
  .home-page-image {
      width: 100%;
      height: auto;
      margin-top: -15px;
      margin-bottom: 10px;
      animation-name: home-page-zoom;
      animation-duration: 5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes home-page-zoom {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(0.99);
      }
  }
  
  h3 {
      text-transform: uppercase;
      font-weight: bold;
      color: blueviolet;
  }
  
  /* styling history items, asides on the home page */
  
  article h3 {
      margin-left: 10px;
  }
  
  #begin h3 {
      margin-left: 1px;
  }
  
  #begin {
      margin-left: 10px;
  }
  
  #preston-1851 {
      float: right;
      margin-right: 8px;
      margin-left: 10px;
  }
  
  #preston-battle {
      float: left;
      margin-right: 10px;
  }
  
  #preston-docks {
      float: right;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  #war {
      margin-left: 10px;
  }
  
  #war p {
      margin-right: 10px;
  }
  
  #trade {
      margin-right: 10px;
  }
  
  #trade p {
      margin-left: 10px;
  }
  
  #preston-factory {
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 5px;
  }
  
  #unsanitary {
      margin-right: 10px;
  }
  
  #unsanitary p {
      margin-right: 10px;
  }
  
  #social {
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  #social p {
      margin-right: 10px;
  }
  
  #fishergate {
      float: right;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
  }
  
  aside {
      margin-left: 10px;
  }
  
  .para-text {
      color: darkblue;
  }
  
  h4 {
      text-transform: uppercase;
      font-weight: bold;
      color: blueviolet;
  }
  
  #aside-section h4 {
      margin-left: 10px;
  }
  
  /* end of home page item styling */
  
  /* style entries for the gallery page */
  
  /* configure gallery page's top image and the corresponding zoom effect */
  /* set height to auto to allow for resizing */
  
  .gallery-page-image {
      width: 100%;
      height: auto;
      margin-top: -20px;
      animation-name: gallery-page-zoom;
      animation-duration: 5s;
      animation-fill-mode: forwards;
      margin-bottom: -20px;
  }
  
  @keyframes gallery-page-zoom {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(0.98);
      }
  }
  
  /* end of configuring gallery page's top image */
  
  /* each attraction is configured a flexbox item */
  
  .attractions {
      display: flex;
      max-width: 100%;
      padding-top: 5px;
      margin: 5px;
  }
  
  /* allowing the flexbox item to grow & shrink */
  
  .image-with-text {
      flex: 1 1; 
      margin: 10px;
  }
  
  .image-with-text img {
      width: 100%;
  }
  
  /* configure some opacity and animation effects for the header, image, and text of the flexbox items */
  /* when hovering the mouse over each item */
  
  .image-with-text img:hover {
      opacity: 0.6;
  }
  
  .image-with-text p:hover {
      color: orange;
  }
  
  a {
      text-decoration: none;
      color: blueviolet;
  }
  
  .image-with-text h3:hover {
      animation-name: item-text-zoom;
      animation-duration: 5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes item-text-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.9);
    }
  }
  
  /* end of effect configuration for the header, image, and text of the flexbox items */
  
  /* end of gallery page specific style entries */
  
  /* start of style entries for the contact page */
  
  /* configure background image for the contact page */
  
  .contact-bg-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80vh;
      background-image: linear-gradient(rgba(0,0,0,0.4), lightgrey), url(img/preston-corn-exchange.jpg);
      background-position: center;
      background-size: cover;
  }
  
  /* end of background image configuration for the contact page */
  
  /* configure the form, labels, entry boxes, buttons */
  
  form {
      width: 90%;
      max-width: 500px;
  }
  
  .user-input {
      margin-bottom: 30px;
      position: relative;
  }
  
  input, textarea {
      width: 100%;
      padding: 10px;
      outline: 0;
      border: 1px solid white;
      color: white;
      background: transparent;
      font-family: 'Times New Roman', Times, serif;
      font-size: 12px;
  }
  
  label {
      padding: 10px;
      color: white;
      cursor: text;
      top: 0;
      transition: 0.3s;
      height: 100%;
  }
  
  button {
      padding: 10px;
      outline: none;
      background: transparent;
      width: 100%;
      cursor: pointer;
      color: white;
  }
  
  input:hover, input:focus {
      background-color: lightgrey;
      opacity: 0.4;
      color: darkred;
      font-size: 16px;
      font-weight: bold;
  }
  
  textarea:hover, textarea:focus {
      background-color: lightgrey;
      opacity: 0.4;
      color: darkred;
      font-size: 16px;
      font-weight: bold;
  }
  
  button:hover {
      background-color: powderblue;
  }
  
  /* end of form configuration */
  
  /* end of style entries for the contact page */
  
  /* footer styling to be used for all pages */
  
  /* configure footer bar */
  
  footer {	
      background: lightgrey;
      color: blue;
      font-weight: bold;
      width: 100%;
      height: 70px;
      right: 0;
      bottom: 0px;
      left: 0px;
      position: absolute;
  }
  /* end of footer bar configuration */
  
  /* configure footer as a flexbox for individuls items' layout, effects */
  
  .social-networks {
      display: flex;
      justify-content: center;
      text-align: center;
  }
  
  .social-networks li {
      display: inline;
      padding: 25px;
  }
  
  .social-networks a {
      text-decoration: none;
  }
  
  .social-networks a:hover {
      color: red;
  }
  
  /* end of footer item layout, effects configuration */
  
  /* end of footer styling */
  
  /* declare media query for screens less than 768px */
  
  @media screen and (max-width: 768px) {
      
      /* reconfigure menu bar and footer for smaller screens */
  
      .navbar {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
      }
      
      .menu {
          display: flex;
          flex-direction: column;
      }
  
      .attractions {
          flex-wrap: wrap;
      }
  
      .social-networks {
          display: flex;
          justify-content: center;
      }
  
      .social-networks li {
          padding: 10px;
      }
  
      /* end of reconfiguring menu bar & footer for smaller screens */
  
      /* resize images on home page for smaller screens */
  
      #preston-1851 {
          max-width: 50%;
      }
  
      #preston-battle {
          max-width: 50%;
      }
  
      #preston-docks {
          max-width: 50%;
      }
  
      #preston-factory {
          max-width: 50%;
      }
  
      #fishergate {
          max-width: 50%;
      }
  
      /* end of resizing home page images for smaller screens */
  
  /* end of media query */
  
  }
